<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BROWNIE </title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
        <h1 id="h1"><STRong>BROWNIE EN 4 PASOS</STRong></h1>
    <br>
    <img src="../img/BROWNIE.jPG" alt="imagen de BROWNIE" width="500" height="200">
    <br>
    <br>
    <h2 class="h2">Ingredientes </h2>
    <ul type="square">
        <li>100gr de manteca</li>
        <li>150gr de chocolate</li>
        <li>2 huevos</li>
        <li>1 taza de azucar</li>
        <li>100gr de harina 0000</li>
    </ul>
    <br>
  <h2 class="h2">Preparación</h2>
    <br>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/VglM0C55oZ0" title="BROWNIE EN 4 PASOS (con trucos)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<ol><i>
    <li>Empezamos colocando la manteca y el chocolate en la sarten</li>
    <li>colocar fuego a minimo</li>
    <li>al fundir retirar del fuego y revolver</li>
    <li>en un bowl batir los huevos con el azucar</li>
    <li>agregarle el chocolate derretido a la mezcla y batir</li>
    <li>agregar harina e integrar</li>
    <li>llevar a horno fuerte por 20 minutos</li></i>
</ol>
<br>
<a href="../../index.html">Pagina de inicio</a>

</body>
</html>