<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pollo al disco</title>
   <link rel="stylesheet" href="../../../Tarea 2/public/style/style.css">

</head>
<body>
        <h1 id="h1"><b>POLLO AL DISCO</b></h1>
        <p>El pollo al disco es un plato típico de la cocina argentina que se cocina en un disco de arado, una especie de sartén grande y redonda que se utiliza comúnmente en las parrillas. El pollo se cocina lentamente sobre brasas o fuego directo, lo que le da un sabor único y ahumado. El pollo al disco se caracteriza por ser jugoso y tierno, y se sirve generalmente con guarniciones como papas, cebolla y pimientos.</p>
    <br>
    <img src="../img/pollo al disco.jpg" alt="imagen de pollo al disco" width="500" height="200">
    <br>
    <br>
    <h2 class="h2">Ingredientes</h2></a>
    <ul type="square">
        <li id="colorverde">1 Morrón</li>
        <li>1 Cebolla</li>
        <li>1 Ajo</li>
        <li>Patitas de pollo</li>
        <li>2 Papas</li>
        <li>1 vaso de vino blanco</li>
        <li>1/2 litro de tomate triturado</li>
        <li>aceite y perejil</li>
    </ul>
    <br>
   <h2 class="h2">Preparación</h2></a>
    <br>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/-lSEUaUdKdE" title="Mi receta de Pollo al disco con Papas (solo tenía pollo, papas y fuego)  - Paulina On Fire" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<ol>
     <li>Empezamos con la mise en place</li>
    <li>sellamos el pollo en el disco</li>
    <li>agregamos la cebolla, el morron y el ajo</li>
    <li>añadimos vino blanco y dejamos evaporar</li>
    <li>ponemos tomate triturado y agua</li>
    <li>condimentamos con laurel</li>
    <li>colocamos la papa en rodajas</li>
    <li>tapamos y dejamos cocinar a fuego lento</li>
    <li>pinchamos las papas para ver si estan listas</li>
    <li>servimos con perejil picado</li>
</ol>
<br>
<a href="../../index.html">Pagina de inicio</a>
</body>
</html>