<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul type="square"></ul>
        <li>1 Morrón</li>
        <li>1 Cebolla</li>
        <li>1 Ajo</li>
        <li>Patitas de pollo</li>
        <li>2 Papas</li>
        <li>1 vaso de vino blanco</li>
        <li>1/2 litro de tomate triturado</li>
        <li>aceite y perejil</li>
    </ul>
<br>
<a href="../../index.html">volver a pagina de inicio</a>
</body>
</html>