<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li>Empezamos colocando la manteca y el chocolate en la sarten</li>
        <li>colocar fuego a minimo</li>
        <li>al fundir retirar del fuego y revolver</li>
        <li>en un bowl batir los huevos con el azucar</li>
        <li>agregarle el chocolate derretido a la mezcla y batir</li>
        <li>agregar harina e integrar</li>
        <li>llevar a horno fuerte por 20 minutos</li>
 
    </ol>
<br>
<a href="../../index2.html">volver a pagina de inicio</a>
</body>
</html>