<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li>Empezamos con la mise en place</li>
        <li>sellamos el pollo en el disco</li>
        <li>agregamos la cebolla, el morron y el ajo</li>
        <li>añadimos vino blanco y dejamos evaporar</li>
        <li>ponemos tomate triturado y agua</li>
        <li>condimentamos con laurel</li>
        <li>colocamos la papa en rodajas</li>
        <li>tapamos y dejamos cocinar a fuego lento</li>
        <li>pinchamos las papas para ver si estan listas</li>
        <li>servimos con perejil picado</li>
    </ol>
<br>
<a href="../../index.html">volver a pagina de inicio</a>
</body>
</html>